USE [JCadastro]
GO
/****** Object:  Table [dbo].[TBL_CIDADE]    Script Date: 13/11/2018 11:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CIDADE](
	[ID_CIDADE] [int] NOT NULL,
	[DESCRICAO] [varchar](50) NOT NULL,
	[ESTADO] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CIDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_CLIENTE]    Script Date: 13/11/2018 11:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CLIENTE](
	[CPF] [varchar](15) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[ENDERECO] [varchar](50) NULL,
	[BAIRRO] [varchar](50) NULL,
	[CIDADE] [int] NULL,
	[CEP] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_COMPONENTE]    Script Date: 13/11/2018 11:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_COMPONENTE](
	[ID_COMP] [int] NOT NULL,
	[DESCRICAO] [varchar](50) NOT NULL,
	[IMAGEM] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_ESTOQUE]    Script Date: 13/11/2018 11:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_ESTOQUE](
	[ITEM] [int] IDENTITY(1,1) NOT NULL,
	[ID_COMP] [int] NOT NULL,
	[VALOR_NOM] [varchar](50) NOT NULL,
	[QTD] [int] NULL CONSTRAINT [DF__TBL_ESTOQUE__QTD__1BFD2C07]  DEFAULT ((0)),
	[VENDA] [decimal](10, 2) NULL,
	[LOTE] [varchar](50) NULL,
	[CNPJ] [varchar](20) NULL,
	[VALIDADE] [smalldatetime] NULL,
 CONSTRAINT [PK__TBL_ESTO__44B086491A401DC4] PRIMARY KEY CLUSTERED 
(
	[ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_FORNECEDOR]    Script Date: 13/11/2018 11:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_FORNECEDOR](
	[CNPJ] [varchar](20) NOT NULL,
	[RAZAO_S] [varchar](50) NOT NULL,
	[ENDERECO] [varchar](50) NULL,
	[BAIRRO] [varchar](50) NULL,
	[CIDADE] [int] NULL,
	[CEP] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CNPJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_ITENS_PEDIDO]    Script Date: 13/11/2018 11:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ITENS_PEDIDO](
	[ITEM] [int] NOT NULL,
	[ID_PEDIDO] [int] NOT NULL,
	[QTD] [int] NULL,
	[VALOR_PARCIAL] [decimal](10, 2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_LOGIN]    Script Date: 13/11/2018 11:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_LOGIN](
	[ID_US] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_US] [varchar](10) NULL,
	[NOME_US] [varchar](20) NOT NULL,
	[SENHA_US] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_US] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_PEDIDO]    Script Date: 13/11/2018 11:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_PEDIDO](
	[ID_PEDIDO] [int] IDENTITY(1,1) NOT NULL,
	[DATA] [smalldatetime] NULL,
	[CPF] [varchar](15) NOT NULL,
	[VALOR_TOTAL] [decimal](10, 2) NULL,
 CONSTRAINT [PK__TBL_PEDI__A05C2F2A03A7C248] PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TBL_CIDADE] ([ID_CIDADE], [DESCRICAO], [ESTADO]) VALUES (1, N'SAO PAULO', N'SP')
INSERT [dbo].[TBL_CIDADE] ([ID_CIDADE], [DESCRICAO], [ESTADO]) VALUES (2, N'SANTO ANDRE ', N'SP')
INSERT [dbo].[TBL_CIDADE] ([ID_CIDADE], [DESCRICAO], [ESTADO]) VALUES (3, N'SAO BERNARDO DO CAMPO', N'SP')
INSERT [dbo].[TBL_CLIENTE] ([CPF], [NOME], [ENDERECO], [BAIRRO], [CIDADE], [CEP]) VALUES (N'123.123.123.23', N'Jose da Silva', N'Rua dos Carijos, 23', N'Santa Filomena', 2, N'45678-876')
INSERT [dbo].[TBL_CLIENTE] ([CPF], [NOME], [ENDERECO], [BAIRRO], [CIDADE], [CEP]) VALUES (N'123.123.123.32', N'Almir da Silva', N'Rua Arbusto, 21', N'Santa Filomena', 2, NULL)
INSERT [dbo].[TBL_CLIENTE] ([CPF], [NOME], [ENDERECO], [BAIRRO], [CIDADE], [CEP]) VALUES (N'123.456.789.11', N'JOSE GOES', N'RUA NOVE, 125', N'JARDIM ESPERANÇA', 1, N'04809-100')
INSERT [dbo].[TBL_COMPONENTE] ([ID_COMP], [DESCRICAO], [IMAGEM]) VALUES (1, N'ACOPLADOR OTICO', NULL)
INSERT [dbo].[TBL_COMPONENTE] ([ID_COMP], [DESCRICAO], [IMAGEM]) VALUES (2, N'CAPACITOR CERAMICO', NULL)
INSERT [dbo].[TBL_COMPONENTE] ([ID_COMP], [DESCRICAO], [IMAGEM]) VALUES (3, N'CAPACITOR ELETROLITICO', NULL)
SET IDENTITY_INSERT [dbo].[TBL_ESTOQUE] ON 

INSERT [dbo].[TBL_ESTOQUE] ([ITEM], [ID_COMP], [VALOR_NOM], [QTD], [VENDA], [LOTE], [CNPJ], [VALIDADE]) VALUES (1, 24, N'100R', 780, CAST(0.10 AS Decimal(10, 2)), N'S125', N'24.456.455/0001-99', CAST(N'2020-01-02 00:00:00' AS SmallDateTime))
INSERT [dbo].[TBL_ESTOQUE] ([ITEM], [ID_COMP], [VALOR_NOM], [QTD], [VENDA], [LOTE], [CNPJ], [VALIDADE]) VALUES (2, 2, N'100 nF x 100v', 9700, CAST(0.15 AS Decimal(10, 2)), N'SC126', N'24.456.455/0001-99', CAST(N'2020-01-02 00:00:00' AS SmallDateTime))
INSERT [dbo].[TBL_ESTOQUE] ([ITEM], [ID_COMP], [VALOR_NOM], [QTD], [VENDA], [LOTE], [CNPJ], [VALIDADE]) VALUES (3, 3, N'1000 uF x 50v', 9930, CAST(0.80 AS Decimal(10, 2)), N'SC125', N'24.456.455/0001-99', CAST(N'2020-01-02 00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[TBL_ESTOQUE] OFF
INSERT [dbo].[TBL_FORNECEDOR] ([CNPJ], [RAZAO_S], [ENDERECO], [BAIRRO], [CIDADE], [CEP]) VALUES (N'11.154.645/0001-89', N'MOTRON E REPRESENTAÇÕES', N'RUA DOS ANDRADAS, 45', N'SANTA EFIGÊNIA', 1, N'123442-001')
INSERT [dbo].[TBL_FORNECEDOR] ([CNPJ], [RAZAO_S], [ENDERECO], [BAIRRO], [CIDADE], [CEP]) VALUES (N'24.456.455/0001-99', N'RJE COMPONENTES', N'AVENIDA CARLOS ANDRADE, 1156', N'CANTO DO SILICIO', 3, N'011456-000')
INSERT [dbo].[TBL_ITENS_PEDIDO] ([ITEM], [ID_PEDIDO], [QTD], [VALOR_PARCIAL]) VALUES (1, 1, 10, CAST(1.00 AS Decimal(10, 2)))
INSERT [dbo].[TBL_ITENS_PEDIDO] ([ITEM], [ID_PEDIDO], [QTD], [VALOR_PARCIAL]) VALUES (1, 3, 10, CAST(1.00 AS Decimal(10, 2)))
INSERT [dbo].[TBL_ITENS_PEDIDO] ([ITEM], [ID_PEDIDO], [QTD], [VALOR_PARCIAL]) VALUES (3, 1, 10, CAST(8.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[TBL_LOGIN] ON 

INSERT [dbo].[TBL_LOGIN] ([ID_US], [TIPO_US], [NOME_US], [SENHA_US]) VALUES (1, N'ADM', N'ADMIN', N'123')
INSERT [dbo].[TBL_LOGIN] ([ID_US], [TIPO_US], [NOME_US], [SENHA_US]) VALUES (2, N'USU', N'USUARIO1', N'456')
SET IDENTITY_INSERT [dbo].[TBL_LOGIN] OFF
SET IDENTITY_INSERT [dbo].[TBL_PEDIDO] ON 

INSERT [dbo].[TBL_PEDIDO] ([ID_PEDIDO], [DATA], [CPF], [VALOR_TOTAL]) VALUES (1, CAST(N'2018-10-05 00:00:00' AS SmallDateTime), N'123.456.789.11', CAST(213.50 AS Decimal(10, 2)))
INSERT [dbo].[TBL_PEDIDO] ([ID_PEDIDO], [DATA], [CPF], [VALOR_TOTAL]) VALUES (2, CAST(N'2018-05-10 00:00:00' AS SmallDateTime), N'256.489.562.08', CAST(11.90 AS Decimal(10, 2)))
INSERT [dbo].[TBL_PEDIDO] ([ID_PEDIDO], [DATA], [CPF], [VALOR_TOTAL]) VALUES (3, CAST(N'2018-03-30 00:00:00' AS SmallDateTime), N'321.125.111.21', CAST(8.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[TBL_PEDIDO] OFF
ALTER TABLE [dbo].[TBL_CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CLIENTE_TBL_CIDADE] FOREIGN KEY([CIDADE])
REFERENCES [dbo].[TBL_CIDADE] ([ID_CIDADE])
GO
ALTER TABLE [dbo].[TBL_CLIENTE] CHECK CONSTRAINT [FK_TBL_CLIENTE_TBL_CIDADE]
GO
ALTER TABLE [dbo].[TBL_ESTOQUE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_ESTOQUE_TBL_COMPONENTE] FOREIGN KEY([ID_COMP])
REFERENCES [dbo].[TBL_COMPONENTE] ([ID_COMP])
GO
ALTER TABLE [dbo].[TBL_ESTOQUE] CHECK CONSTRAINT [FK_TBL_ESTOQUE_TBL_COMPONENTE]
GO
ALTER TABLE [dbo].[TBL_ESTOQUE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_ESTOQUE_TBL_FORNECEDOR] FOREIGN KEY([CNPJ])
REFERENCES [dbo].[TBL_FORNECEDOR] ([CNPJ])
GO
ALTER TABLE [dbo].[TBL_ESTOQUE] CHECK CONSTRAINT [FK_TBL_ESTOQUE_TBL_FORNECEDOR]
GO
ALTER TABLE [dbo].[TBL_FORNECEDOR]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FORNECEDOR_TBL_CIDADE] FOREIGN KEY([CIDADE])
REFERENCES [dbo].[TBL_CIDADE] ([ID_CIDADE])
GO
ALTER TABLE [dbo].[TBL_FORNECEDOR] CHECK CONSTRAINT [FK_TBL_FORNECEDOR_TBL_CIDADE]
GO
ALTER TABLE [dbo].[TBL_ITENS_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_ITENS_PEDIDO_TBL_ESTOQUE] FOREIGN KEY([ITEM])
REFERENCES [dbo].[TBL_ESTOQUE] ([ITEM])
GO
ALTER TABLE [dbo].[TBL_ITENS_PEDIDO] CHECK CONSTRAINT [FK_TBL_ITENS_PEDIDO_TBL_ESTOQUE]
GO
ALTER TABLE [dbo].[TBL_ITENS_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_ITENS_PEDIDO_TBL_PEDIDO] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[TBL_PEDIDO] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[TBL_ITENS_PEDIDO] CHECK CONSTRAINT [FK_TBL_ITENS_PEDIDO_TBL_PEDIDO]
GO
ALTER TABLE [dbo].[TBL_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PEDIDO_TBL_CLIENTE] FOREIGN KEY([CPF])
REFERENCES [dbo].[TBL_CLIENTE] ([CPF])
GO
ALTER TABLE [dbo].[TBL_PEDIDO] CHECK CONSTRAINT [FK_TBL_PEDIDO_TBL_CLIENTE]
GO
/****** Object:  StoredProcedure [dbo].[sp_Item_Estoque]    Script Date: 13/11/2018 11:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_Item_Estoque] (@item int) as
begin
	if(@item>0)
	begin
		select ESTOQUE.ITEM, ESTOQUE.ID_COMP, COMP.DESCRICAO, ESTOQUE.VALOR_NOM, ESTOQUE.QTD, ESTOQUE.VENDA,ESTOQUE.LOTE, ESTOQUE.CNPJ, ESTOQUE.VALIDADE 
		from TBL_ESTOQUE as ESTOQUE
		LEFT JOIN TBL_COMPONENTE as COMP
			ON COMP.ID_COMP = ESTOQUE.ID_COMP
		where ESTOQUE.ITEM = @item
	end
	else
	begin
		Print('Valor inválido para item !')
	end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_lista_estoque]    Script Date: 13/11/2018 11:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_lista_estoque] as
begin
	begin
		SELECT ESTOQUE.ITEM, ESTOQUE.ID_COMP, COMP.DESCRICAO, ESTOQUE.VALOR_NOM, ESTOQUE.QTD, ESTOQUE.VENDA, ESTOQUE.CNPJ, ESTOQUE.VALIDADE 
		FROM TBL_ESTOQUE AS ESTOQUE
		LEFT JOIN TBL_COMPONENTE AS COMP
			ON COMP.ID_COMP = ESTOQUE.ID_COMP
		ORDER BY ESTOQUE.ITEM 
	end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Lista_ItensPedido]    Script Date: 13/11/2018 11:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_Lista_ItensPedido] (@id_pedido int) as
begin
	if(@id_pedido>0)
		begin
			SELECT PEDIDO.ID_PEDIDO, CLIENTE.NOME ,PEDIDO.CPF, PEDIDO.DATA, ITENS.ITEM,COMP.DESCRICAO, 
			ESTOQUE.VALOR_NOM , ITENS.QTD, ITENS.VALOR_PARCIAL, PEDIDO.VALOR_TOTAL
			FROM TBL_PEDIDO AS PEDIDO
			INNER JOIN TBL_ITENS_PEDIDO AS ITENS
				ON PEDIDO.ID_PEDIDO = ITENS.ID_PEDIDO
			INNER JOIN TBL_CLIENTE AS CLIENTE
				ON CLIENTE.CPF = PEDIDO.CPF
			INNER JOIN TBL_ESTOQUE AS ESTOQUE
				ON ESTOQUE.ITEM = ITENS.ITEM
			INNER JOIN TBL_COMPONENTE AS COMP 
				ON COMP.ID_COMP=ESTOQUE.ID_COMP
			WHERE PEDIDO.ID_PEDIDO = @id_pedido
			ORDER BY ITEM
		end
	else
		begin
			Print('Id pedido dever ser maior que 0')
		end
end
GO
